@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boogaloo&family=Knewave&family=Open+Sans:wght@300&family=Zilla+Slab+Highlight&display=swap");

.roadmap-background {
  background-color: #f68375;
  min-height: 100vh;
  text-align: center;
  padding: 15vh 0vh;
  overflow: hidden;
}
/* .row {
  margin-right: 0px !important;
} */
.roadmap-row {
  padding: 0vh 15vh;
  min-height: 78vh;
  align-items: center;
}
.roadmap-title-row {
  padding: 5vh 0vh;
  font-size: 10vh;
}
.roadmap-title {
  cursor: context-menu;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #6d545d;
  animation: titleShadow 10s infinite ease-in;
}
@keyframes titleShadow {
  0%,
  100% {
    text-shadow: none;
  }
  50% {
    text-shadow: 1px 1px 1px #dce2c8, 2px 2px 1px #dce2c8, 1px 1px 1px #dce2c8,
      4px 4px 1px #dce2c8, 5px 5px 1px #dce2c8, 6px 6px 1px #dce2c8,
      7px 7px 1px #dce2c8, 8px 8px 1px #dce2c8, 9px 9px 1px #dce2c8,
      10px 10px 1px #c3cea1;
  }
}
/* .roadmap-line {
  border-left: 3px solid#dce2c8;
  margin-left: 20vh;
} */
.roadmap-detail {
  margin: 8vh 0vh;
  align-items: center;
  margin-left: -10vh !important;
}
/* .roadmap-detail-icon {
  width: 50px;
} */
.roadmap-detail-p {
  text-align: left;
  margin: 0px !important;
}
.roadmap-detail-position {
  font-family: "Boogaloo", cursive;
  font-size: xx-large;
  color: #f68375;
}
.roadmap-detail-company {
  font-family: "Bebas Neue", cursive;
  font-size: large;
}
.roadmap-detail-date-location-p {
  text-align: right;
  margin: 0px !important;
  margin-bottom: -10px !important;
}
.roadmap-detail-date-location {
  font-family: "Bebas Neue", cursive;
  font-size: medium;
}
.roadmap-detail-description {
  font-family: "Open Sans", sans-serif;
  font-weight: 600 !important;
  font-size: small !important;
  margin: 0px !important;
}
.roadmap-detail-image {
  text-align: right;
  padding: 0px !important;
}
.roadmap-detail-future {
  text-align: left;
  margin: 0px !important;
  font-family: "Boogaloo", cursive;
  font-size: xx-large !important;
  color: #f68375;
}
@media (max-width: 600px) {
  .roadmap-row {
    padding: 0px 5vh;
  }
}
/* TIMELINE PACKAGE */
.vertical-timeline::before {
  background: #a2ebf6 !important;
}
.vertical-timeline-element-icon {
  -webkit-box-shadow: 0 0 0 4px #a2ebf6, inset 0 2px 0 rgb(0 0 0 / 8%),
    0 3px 0 4px rgb(0 0 0 / 5%) !important;
}
.vertical-timeline-element-content {
  position: relative;
  margin-left: 60px;
  background: #a2ebf6 !important;
  border-radius: 10px !important;
  padding: 1em;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-family: "Open Sans", sans-serif;
}
