.home-hello {
    background-color: #ebd5d5;
    /* background-image: url('../../images/about-hello.png'); */
    place-content: center;
    text-align-last: center;
    height: 720px;
    padding: 0px 50px;
}

.home-hello-name {
    font-family: 'Just Another Hand', cursive;
    /* text-shadow: 4px 4px #484c7f; */
    font-size: 120px;
    color: #685454;
    margin-bottom: 0px;

    /* 
    font-family: 'Just Another Hand', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Pompiere', cursive;
    */
}

.home-hello-course {
    font-family: 'Pompiere', cursive;
    /* text-shadow: 2px 2px #484c7f; */
    font-size: 40px;
    color: #685454;
    margin-bottom: 0px;
}

.home-hello-image {
    width: 50%;
}

.home-hello-down-row {
    background: #ebd5d5;
    place-content: center;
    padding-bottom: 50px;
}

.home-hello-down {
    font-size: xx-large;
}

.home-skills-image {
    position: absolute;
    right: 0;
    width: 25%;
}

.home-skills {
    background-color: #f2f2f2;
    /* place-content: center;text-align-last: center; */
    height: 705px;
    padding: 80px 150px;
    min-height: 800px;
}

.home-skills-content {
    padding-bottom: 30px;
    align-items: center;
}

.home-skills-name {
    font-family: 'Pompiere', cursive;
    font-size: 70px;
    color: #685454;
}

.home-skills-number {
    font-family: 'Just Another Hand', cursive;
    font-size: 65px;
    margin-bottom: 0px;
    color: grey;
}

.home-skills-skill {
    font-family: 'Playfair Display', serif;
    padding-left: 10px;
    font-size: larger;
    width: 60%;
    margin-bottom: 0px;
}