.home-hello {
    background-color: #ebd5d5;
    /* background-image: url('../../images/about-hello.png'); */
    place-content: center;
    text-align-last: center;
    height: 800px;
    padding: 0px 50px;
}

.home-hello-name {
    font-family: 'Just Another Hand', cursive;
    /* text-shadow: 4px 4px #484c7f; */
    font-size: 120px;
    color: #685454;
    margin-bottom: 0px;

    /* 
    font-family: 'Just Another Hand', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Pompiere', cursive;
    */
}

.home-hello-course {
    font-family: 'Pompiere', cursive;
    /* text-shadow: 2px 2px #484c7f; */
    font-size: 40px;
    color: #685454;
    margin-bottom: 0px;
}

.home-profile {
    background-color: #f2f2f2;
    place-content: center;
    text-align-last: center;
    height: 705px;
    padding: 0px 50px;
}