.home-title {
    font-family: 'Pompiere', cursive;
    font-size: 120px;
    color: #685454;
    margin-bottom: -30px;
}

.home-pink {
    background-color: #ebd5d5;
    height: 705px;
    padding: 80px 150px;
    min-height: 800px;
}

.home-white {
    background-color: #f2f2f2;
    /* place-content: center;text-align-last: center; */
    height: 705px;
    padding: 80px 150px;
    min-height: 800px;
}


.home-content {
    padding-bottom: 30px;
    align-items: center;
}

.home-number {
    font-family: 'Just Another Hand', cursive;
    font-size: 65px;
    margin-bottom: 0px;
    color: grey;
}

.home-desc {
    font-family: 'Playfair Display', serif;
    padding-left: 10px;
    font-size: larger;
    width: 60%;
    margin-bottom: 0px;
}

.home-hello {
    background-color: #ebd5d5;
    /* background-image: url('../../images/about-hello.png'); */
    place-content: center;
    text-align-last: center;
    height: 720px;
    padding: 0px 50px;
}

.home-hello-name {
    font-family: 'Just Another Hand', cursive;
    /* text-shadow: 4px 4px #484c7f; */
    font-size: 120px;
    color: #685454;
    margin-bottom: 0px;

    /* 
    font-family: 'Just Another Hand', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Pompiere', cursive;
    */
}

.home-hello-course {
    font-family: 'Pompiere', cursive;
    /* text-shadow: 2px 2px #484c7f; */
    font-size: 40px;
    color: #685454;
    margin-bottom: 0px;
}

.home-hello-image {
    width: 50%;
}

.home-hello-down-row {
    background: #ebd5d5;
    place-content: center;
    padding-bottom: 50px;
}

.home-hello-down {
    font-size: xx-large;
}

.home-skills-image {
    position: absolute;
    right: 0;
    width: 25%;
}

.home-education-image {
    width: 80%;
}

.home-experiences-image {
    width: 100%;
}

.home-experiences-padding {
    padding-top: 150px;
    padding-left: 150px;
}

.home-profile-image {
    width: 80%;
}

.home-profile-title {
    font-size: xx-large;
}

.home-profile-desc {
    width: 100%;
    font-size: medium;
}