@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Open+Sans:wght@300&display=swap&family=Knewave&family=Zilla+Slab+Highlight&display=swap");

.welcome-background {
  background-color: #f68375;
  min-height: 100vh;
  text-align: center;
  padding: 15vh 0vh;
}
.welcome-row {
  padding: 0vh 15vh;
  min-height: 78vh;
  align-items: center;
}
.welcome-image-col {
  text-align: right;
}
.welcome-intro-col {
  text-align: left;
}
.welcome-im {
  font-family: "Zilla Slab Highlight", cursive;
  margin-bottom: 0px;
  font-size: 45px;
  position: relative;
  top: 5vh;
}
.welcome-name {
  font-family: "Boogaloo", cursive;
  font-size: 100px;
  margin-bottom: 0px;
  color: white;
}
.welcome-email {
  font-family: "Zilla Slab Highlight", cursive;
  margin-bottom: 0px;
  position: relative;
  bottom: 5vh;
  font-size: larger;
}
.welcome-paragraph {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0px;
  font-size: larger;
}
@media (max-width: 768px) {
  .welcome-row {
    padding: 0px 5vh;
  }
}
@media (min-width: 488px) and (max-width: 1044px) {
  .welcome-email {
    bottom: 2vh;
  }
}
@media (min-width: 1044px) {
  .welcome-im {
    top: 4vh;
  }
  .welcome-email {
    bottom: 3vh;
  }
}
@media (max-width: 576px) {
  .welcome-image-col {
    text-align: center;
  }
  .welcome-image {
    width: 200px;
    height: 200px;
  }
  .welcome-im {
    text-align: center;
    font-size: 25px;
    top: 2vh;
  }
  .welcome-name {
    text-align: center;
    font-size: 50px;
  }
  .welcome-email {
    text-align: center;
    font-size: 15px;
    top: -1vh;
  }
  .welcome-paragraph {
    text-align: center;
    font-size: 15px;
    padding-top: 15px;
  }
}
