@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Open+Sans:wght@300&display=swap&family=Knewave&family=Zilla+Slab+Highlight&display=swap");

.welcome-background {
  background-color: #f68375;
  min-height: 100vh;
  text-align: center;
}
.welcome-row {
  padding: 0px 15vh;
  min-height: 78vh;
  align-items: center;
}
.welcome-image-col {
  text-align: right;
}
.welcome-intro-col {
  text-align: left;
}
.welcome-im {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Zilla Slab Highlight", cursive;
  /* font-family: "Knewave", cursive; */
  margin-bottom: 0px;
  font-size: 50px;
  position: relative;
  top: 5vh;
}
.welcome-name {
  font-family: "Boogaloo", cursive;
  font-size: 15vh;
  margin-bottom: 0px;
  color: white;
}
.welcome-email {
  font-family: "Zilla Slab Highlight", cursive;
  margin-bottom: 0px;
  position: relative;
  bottom: 5vh;
  font-size: larger;
}
.welcome-paragraph {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0px;
  font-size: larger;
}
@media (max-width: 600px) {
  .welcome-row {
    padding: 0px 5vh;
  }
}
@media (min-width: 488px) and (max-width: 1044px) {
  .welcome-email {
    bottom: 2vh;
  }
}
