.roadmap-background {
  background-color: #f68375;
  min-height: 100vh;
  text-align: center;
  padding: 80px 0px;
  overflow: hidden;
}
/* .row {
  margin-right: 0px !important;
} */
.roadmap-row {
  padding: 0px 50px;
  min-height: 78vh;
  align-items: center;
  place-content: center;
}
.roadmap-title-row {
  padding: 25px 0px;
}
.roadmap-title {
  cursor: context-menu;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #6d545d;
  animation: titleShadow 10s infinite ease-in;
  font-size: 60px;
}
@keyframes titleShadow {
  0%,
  100% {
    text-shadow: none;
  }
  50% {
    text-shadow: 1px 1px 1px #dce2c8, 2px 2px 1px #dce2c8, 1px 1px 1px #dce2c8,
      4px 4px 1px #dce2c8, 5px 5px 1px #dce2c8, 6px 6px 1px #dce2c8,
      7px 7px 1px #dce2c8, 8px 8px 1px #dce2c8, 9px 9px 1px #dce2c8,
      10px 10px 1px #c3cea1;
  }
}
/* .roadmap-line {
  border-left: 3px solid#dce2c8;
  margin-left: 20vh;
} */
/* .roadmap-detail {
  margin: 8vh 0vh;
  align-items: center;
  margin-left: -10vh !important;
} */
/* .roadmap-detail-icon {
  width: 50px;
} */
.roadmap-detail-p {
  text-align: left;
  margin: 0px !important;
}
.roadmap-detail-position {
  font-family: "Boogaloo", cursive;
  font-size: 20px;
  color: #f68375;
}
.roadmap-detail-company {
  font-family: "Bebas Neue", cursive;
  font-size: 15px;
}
.roadmap-detail-date-location-p {
  text-align: right;
  margin: 0px !important;
  margin-bottom: -1vh !important;
}
.roadmap-detail-date-location {
  font-family: "Bebas Neue", cursive;
  font-size: 13px;
}
.roadmap-detail-description {
  font-family: "Open Sans", sans-serif;
  font-weight: 600 !important;
  font-size: 13px !important;
  margin: 0px !important;
}
.roadmap-detail-image {
  text-align: right;
  padding: 0px !important;
}
.roadmap-detail-future {
  text-align: left;
  margin: 0px !important;
  font-family: "Boogaloo", cursive;
  font-size: 20px !important;
  color: #f68375;
}
/*  */
@media (min-width: 1170px) {
  .vertical-timeline.vertical-timeline--two-columns {
    width: 100% !important;
    margin: 0px;
  }
}
@media (max-width: 600px) {
  .roadmap-row {
    padding: 0px;
  }
}
@media (min-height: 1200px) {
  .roadmap-background,
  .roadmap-row {
    min-height: 0px;
  }
}
/* @media (min-width: 1445px) {
  .roadmap-title {
    font-size: 15vh;
  }
  .roadmap-detail-position,
  .roadmap-detail-future {
    font-size: 5vh !important;
  }
  .roadmap-detail-company,
  .roadmap-detail-date-location {
    font-size: 3vh;
  }
  .roadmap-detail-description {
    font-size: 2.2vh !important;
  }
  .vertical-timeline {
    max-width: 100% !important;
  }
} */
