@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boogaloo&family=Knewave&family=Open+Sans:wght@300&family=Zilla+Slab+Highlight&display=swap");

.project-background {
  min-height: 100vh;
  text-align: center;
  padding: 15vh 0vh;
}
.project-row {
  padding: 0vh 15vh;
  min-height: 78vh;
  align-items: center;
}
.project-title-row {
  padding: 5vh 0vh;
  font-size: 10vh;
}
.project-title {
  cursor: context-menu;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #6d545d;
  animation: titleShadow 10s infinite ease-in;
}
@keyframes titleShadow {
  0%,
  100% {
    text-shadow: none;
  }
  50% {
    text-shadow: 1px 1px 1px #dce2c8, 2px 2px 1px #dce2c8, 1px 1px 1px #dce2c8,
      4px 4px 1px #dce2c8, 5px 5px 1px #dce2c8, 6px 6px 1px #dce2c8,
      7px 7px 1px #dce2c8, 8px 8px 1px #dce2c8, 9px 9px 1px #dce2c8,
      10px 10px 1px #c3cea1;
  }
}
@media (max-width: 600px) {
  .project-row {
    padding: 0px 5vh;
  }
}
/* Bootstrap */
.badge-primary {
  background-color: #6d545d !important;
}

/* HOVER EFFECT */
.project-image-col {
  background-image: url(../../Assets/Image/whiteDesktop.png);
  background-size: 90%;
  background-repeat: space;
  background-position: bottom;
  text-align: center;
  margin-bottom: 5vh;
}
.project-image {
  width: 60vh;
  object-fit: cover;
  transition: 0.5s ease;
}
.project-description {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 43%;
  left: 52%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/* IMPORTANT FOR HOVER EFFECT*/
.project-image-col:hover .project-image {
  opacity: 0.3;
}
.project-image-col:hover .project-description {
  opacity: 1;
}
.project-description-details {
  padding-bottom: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: large;
}
.project-description-button {
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
/* MODAL */
.rodal-mask {
  background: rgba(0, 0, 0, 0.6) !important;
  pointer-events: none;
}
.rodal-dialog {
  background: #dce2c8 !important;
  /* border-radius: 3px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%); */
  /* width: 70% !important; */
  /* height: 80% !important; */
  width: 90% !important;
  height: 90% !important;
}
/* Custom Modal css */
.project-modal-row {
  align-content: center;
  /* height: 77.5vh; */
  height: 92vh;
  padding: 5vh 10vh;
  /* overflow-y: auto; */
}
.project-modal-name {
  font-family: "Bebas Neue", cursive;
  font-size: xx-large;
}
.project-modal-image-col {
  align-self: center;
}
.project-modal-header {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.project-modal-description-image-col {
  padding-right: 0px !important;
}
.project-modal-bullet {
  font-family: "Open Sans", sans-serif;
  text-align: left;
}
.project-modal-image {
  width: 60vh;
  cursor: pointer;
  object-fit: cover;
  transition: 0.5s ease;
}
.project-modal-features {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  margin-bottom: 0px !important;
  font-style: italic;
  font-weight: 600;
}
.project-modal-pill-row {
  padding-top: 2vh;
}
@media (max-width: 356px) {
  .project-modal-image-col {
    content-visibility: hidden;
  }
}
@media (max-width: 767px) {
  .project-modal-image {
    width: 50%;
  }
}
@media (max-width: 940px) {
  .rodal-dialog {
    width: 95% !important;
    height: 95% !important;
  }
  .project-modal-row {
    align-content: center;
    height: 92vh;
    padding: 2vh;
    overflow-y: auto;
  }

  .project-modal-image {
    padding-bottom: 10px;
  }
  .project-modal-header,
  .project-modal-bullet,
  .project-modal-features {
    font-size: small;
  }
}
/* animated button from codemyui.com */
.custom-btn {
  margin-top: 2vh;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.custom-button-disabled {
  cursor: context-menu !important;
  opacity: 0.5;
  background-image: linear-gradient(315deg, #f0ecfc 0%, #13b4cd 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-8 {
  background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #f0ecfc 0%, #13b4cd 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-8:before,
.btn-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #13b4cd;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-8:before {
  height: 0%;
  width: 2px;
}
.btn-8:after {
  width: 0%;
  height: 2px;
}
.btn-8:hover:before {
  height: 100%;
}
.btn-8:hover:after {
  width: 100%;
}
.btn-8:hover {
  background: transparent;
}
.btn-8 span:hover {
  color: #13b4cd;
}
.btn-8 span:before,
.btn-8 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #13b4cd;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-8 span:before {
  width: 2px;
  height: 0%;
}
.btn-8 span:after {
  height: 2px;
  width: 0%;
}
.btn-8 span:hover:before {
  height: 100%;
}
.btn-8 span:hover:after {
  width: 100%;
}
@media (max-width: 1310px) {
  .project-description {
    top: 50%;
    left: 55%;
  }
  .project-description-details,
  .custom-btn {
    font-size: small;
  }
}

/* NEW DESIGN */
.project-specific-project {
  background-color: #dce2c8;
  opacity: 0.8;
  border-radius: 15px;
  min-height: 25vh;
  padding: 5vh;
  margin-bottom: 5vh;
}
.project-specific-button {
  place-content: center;
  margin: 1vh;
}
