@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boogaloo&family=Knewave&family=Open+Sans:wght@300&family=Zilla+Slab+Highlight&display=swap");

.skills-background {
  min-height: 100vh;
  text-align: center;
}
.skills-row {
  padding: 0px 15vh;
  min-height: 78vh;
  align-items: center;
  display: flex;
}
.skills-title {
  padding: 5vh 0vh;
  font-size: 10vh;
  font-family: "Knewave", cursive;
}
.skills-box {
  /* background-color: #908080; */
  /* margin-bottom: 30px; */
  /* margin-right: 15px; */
  /* padding: 20px; */
  /* min-width: 20vh; */
  /* min-height: 20vh; */
  /* border-radius: 10px; */
}

.skills-text {
  /* min-height: 14vh; */
  /* align-content: center; */
  /* font-family: "Open Sans", sans-serif; */
  /* font-weight: 600; */
}
.skills-image {
  -webkit-filter: grayscale(100%);
  opacity: 0.3;
}
.skills-image:hover {
  -webkit-filter: none;
  opacity: 1;
}
/* hexagon */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: #2e2e2e;
  color: #fff;
  font-family: sans-serif;
  margin-bottom: 30px;
}
#demo {
  padding: 0 15px;
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto;
}
#demo svg {
  width: 33.333333333%;
}
#demo svg text,
#demo .foreign-object p {
  pointer-events: none;
  text-shadow: 1px 1px 5px #000;
  text-anchor: middle;
  font-size: 50px;
  font-weight: bold;
  fill: rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
  alignment-baseline: middle;
}

#demo .text text,
#demo .text p {
  pointer-events: auto;
  text-shadow: 1px 1px 20px #000;
}

#demo .row:nth-child(1n + 2) {
  margin-top: -10.3%;
}

#demo .row:nth-child(even) :first-child {
  margin-left: 16.666666667%;
}

#demo .umbrella {
  z-index: 10;
  position: relative;
}

#demo .umbrella polygon,
#demo .umbrella path {
  transition: fill 0.5s, stroke 0.5s;
}

#demo .umbrella path {
  pointer-events: none;
}
