@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boogaloo&family=Knewave&family=Open+Sans:wght@300&family=Zilla+Slab+Highlight&display=swap");

.skills-background {
  min-height: 100vh;
  text-align: center;
  padding: 15vh 0vh;
}
.skills-row {
  padding: 0vh 15vh;
  min-height: 78vh;
  align-items: center;
  display: flex;
}
.skills-title {
  padding: 5vh 0vh;
  font-size: 10vh;
  font-family: "Knewave", cursive;
}
.skills-image-left {
  width: 100%;
  height: 100%;
}
.skills-image-right {
  width: 100%;
  height: 100%;
}
.skills-section {
  padding: 15px 0px;
}
@media (max-width: 600px) {
  .skills-row {
    padding: 0px 5vh;
  }
}
@media (max-width: 576px) {
  .skills-image-left {
    content-visibility: hidden;
    position: absolute;
    left: 0;
  }
}
@media (min-width: 632px) {
  .skills-image-left {
    width: 80%;
    height: 80%;
  }
  .skills-image-right {
    width: 80%;
    height: 80%;
  }
}
/* @media (min-width: 567px) and (max-width: 875px) {
  .skills-image-right {
    width: 150px;
    height: 150px;
  }
} */
/* HoneyComb.js */
.skills-honeyComb-image {
  -webkit-filter: grayscale(100%);
  opacity: 0.3;
  /* cursor: pointer; */
  transition-duration: 0.5s;
}
.skills-honeyComb-image:hover {
  -webkit-filter: none;
  opacity: 1;
  display: block;
}
.skills-honeyComb-col {
  padding: 0px 1vh !important;
}
.skills-honeyComb-row {
  margin-top: -15px;
  justify-content: center;
}

/* SkillDetails.js */
.skill-details-card {
  height: 43.5vh;
  place-content: center;
  font-family: "Open Sans", sans-serif;
}
/* ImageRight */
#background {
  animation: animate-background 3s ease-in-out infinite;
}

@keyframes animate-background {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* ImageLeft */
#actionArrow {
  animation: animate-action 3s infinite linear;
}
@keyframes animate-action {
  0% {
    transform: translate(0%);
  }
  50% {
    transform: translate(2%, -2%);
  }
  100% {
    transform: translate(0%);
  }
}
