@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boogaloo&family=Knewave&family=Open+Sans:wght@300&family=Zilla+Slab+Highlight&display=swap");

.skills-background {
  min-height: 100vh;
  text-align: center;
}
.skills-row {
  padding: 8vh 15vh;
  min-height: 78vh;
  align-items: center;
  display: flex;
}
.skills-title {
  padding: 5vh 0vh;
  font-size: 10vh;
  font-family: "Knewave", cursive;
}
.skills-section2 {
  padding: 10vh 0vh;
}

/* HoneyComb.js */
.skills-honeyComb-image {
  -webkit-filter: grayscale(100%);
  opacity: 0.3;
  /* cursor: pointer; */
  transition-duration: 0.5s;
}
.skills-honeyComb-image:hover {
  -webkit-filter: none;
  opacity: 1;
  display: block;
}
.skills-honeyComb-col {
  padding: 0px 1vh !important;
}
.skills-honeyComb-row {
  margin-top: -15px;
  justify-content: center;
}

/* SkillDetails.js */
