.home-layout {
    background-color: #ac8daf;
    background-image: url('../../images/WVKj7E.jpg');
    opacity: 0.5;
    min-height: 724px !important;
    padding: 0px 50px;
}

.home-name {
    height: 705px;
    text-align-last: center;
    font-family: 'Gochi Hand', cursive;
    text-shadow: cornflowerblue;

    /* 
    font-family: 'Gochi Hand', cursive;
    font-family: 'Nanum Gothic Coding', monospace;
    font-family: 'Patrick Hand SC', cursive; 
    */
}