.welcome-background {
  background-color: #f68375;
  min-height: 100vh;
  text-align: center;
  padding: 15vh 0vh;
}
.welcome-row {
  padding: 0vh 15vh;
  min-height: 78vh;
  align-items: center;
}
.welcome-image-col {
  text-align: right;
}
.welcome-image {
  width: 100%;
  height: 100%;
}
.welcome-intro-col {
  text-align: left;
}
.welcome-im {
  font-family: "Bebas Neue", cursive;
  margin-bottom: 0px;
  font-size: 5vh;
  position: relative;
  top: 3vh;
}
.welcome-name {
  font-family: "Boogaloo", cursive;
  font-size: 10vh;
  margin-bottom: 0px;
  color: white;
}
.welcome-email {
  font-family: "Bebas Neue", cursive;
  margin-bottom: 0px;
  position: relative;
  bottom: 15px;
  font-size: larger;
}
.welcome-paragraph {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0px;
  font-size: 2.5vh;
  font-weight: 600;
}
@media (max-width: 768px) {
  .welcome-row {
    padding: 0px;
  }
}
@media (max-width: 576px) {
  .welcome-image {
    width: 80%;
    height: 80%;
  }
  .welcome-image-col,
  .welcome-im,
  .welcome-name,
  .welcome-email,
  .welcome-paragraph {
    text-align: center;
  }
  .welcome-im {
    font-size: 21px;
    top: 1vh;
  }
  .welcome-name {
    font-size: 38px;
  }
  .welcome-email {
    font-size: 15px;
    top: 0vh;
  }
  .welcome-paragraph {
    font-size: 15px;
    padding-top: 15px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .welcome-image {
    width: 80%;
    height: 80%;
  }
  .welcome-im {
    /* font-size: 50px; */
    top: 5vh;
  }
  .welcome-name {
    /* font-size: 100px; */
  }
  .welcome-email {
    /* font-size: 30px; */
    bottom: 4vh;
  }
  .welcome-paragraph {
    /* font-size: 30px; */
  }
}
@media (min-width: 1445px) {
  .welcome-im {
    font-size: 10vh;
    top: 5vh;
  }
  .welcome-name {
    font-size: 15vh;
  }
  .welcome-email {
    font-size: 10vh;
    bottom: 4vh;
  }
  .welcome-paragraph {
    font-size: 5vh;
  }
}
