@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Open+Sans:wght@300&display=swap&family=Knewave&family=Zilla+Slab+Highlight&display=swap");

.welcome-background {
  background-color: #f68375;
  min-height: 100vh;
  text-align: center;
  padding: 15vh 0vh;
}
.welcome-row {
  padding: 0vh 15vh;
  min-height: 78vh;
  align-items: center;
}
.welcome-image-col {
  text-align: right;
}
.welcome-intro-col {
  text-align: left;
}
.welcome-im {
  font-family: "Zilla Slab Highlight", cursive;
  margin-bottom: 0px;
  font-size: 45px;
  position: relative;
  top: 5vh;
}
.welcome-name {
  font-family: "Boogaloo", cursive;
  font-size: 100px;
  margin-bottom: 0px;
  color: white;
  /* letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 8px 8px #ff1f8f, 20px 20px #000000; */
}

/* .welcome-name span {
  color: wheat;
  animation: drop 2s ease-in-out infinite;
} */

.welcome-email {
  font-family: "Zilla Slab Highlight", cursive;
  margin-bottom: 0px;
  position: relative;
  bottom: 5vh;
  font-size: larger;
}
.welcome-paragraph {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0px;
  font-size: larger;
}

@media (max-width: 768px) {
  .welcome-row {
    padding: 0px 5vh;
  }
}
@media (min-width: 488px) and (max-width: 1044px) {
  .welcome-email {
    bottom: 2vh;
  }
}
@media (min-width: 1044px) {
  .welcome-im {
    top: 4vh;
  }
  .welcome-email {
    bottom: 3vh;
  }
}
@media (max-width: 576px) {
  .welcome-image-col {
    text-align: center;
  }
  .welcome-image {
    width: 200px;
    height: 200px;
  }
  .welcome-im {
    text-align: center;
    font-size: 25px;
    top: 2vh;
  }
  .welcome-name {
    text-align: center;
    font-size: 7vh;
  }
  .welcome-email {
    text-align: center;
    font-size: 15px;
    top: -1vh;
  }
  .welcome-paragraph {
    text-align: center;
    font-size: 15px;
    padding-top: 15px;
  }
}
@media (max-width: 321px) {
  .welcome-im {
    font-size: 18px;
  }
  .welcome-name {
    font-size: 28px;
    margin-top: 2vh;
  }
  .welcome-paragraph {
    font-size: 12px;
  }
  .welcome-email {
    top: 0px;
  }
}
@media (min-width: 322px) and (max-width: 640px) {
  .welcome-name {
    font-size: 37px;
  }
  .welcome-im {
    font-size: 36px;
    top: 3vh;
  }
}
@media (min-width: 641px) and (max-width: 1214px) {
  .welcome-name {
    font-size: 50px;
  }
  .welcome-im {
    font-size: 36px;
    top: 3vh;
  }
}
