.ant-menu-dark .ant-menu-item>a {
    color: #685454 !important;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    font-variant-caps: normal;
}

/* MY COMPONENTS */
.header-background-color {
    background-color: #ebd5d5 !important;
    text-align-last: end;
}

.header-name {
    margin: 0px;
}

.header-height {
    height: 65px;
}

@media(max-width: 425px) {
    .ant-layout-header {
        padding: 0px !important;
    }

    .ant-menu-dark .ant-menu-item>a {
        font-size: medium;
    }

    .header-name {
        font-size: small;
    }
}