.ant-menu-dark .ant-menu-item>a {
    color: #484c7f !important;
    font-weight: bold;
}

/* MY COMPONENTS */
.header-background-color {
    background-color: #ddb6c6 !important;
    text-align-last: end;
}

.header-height {
    height: 65px;
}