/* ANT DESIGN COMPONENTS */
#components-layout-demo-fixed .logo {
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    float: left;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: #484c7f;
}

/* .site-layout .site-layout-background {
    background: #f1d4d4;
}

*/
/* MY COMPONENTS */
.header-layout {
    /* style={{ backgroundImage: url('WVKj7E.jpg'), background: '#ac8daf', }} */
    background-color: #ac8daf;
    background-image: url('../../../images/WVKj7E.jpg');
    opacity: 0.5;
}

.header-background-color {
    background-color: #ac8daf !important;
    text-align-last: end;
}

.header-height {
    height: 65px;
}