.nav-col {
  padding: 0px 10px !important;
}
.row {
  margin: 0 !important;
}
.app-nav-row-sticky {
  /* for it to be sticky */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}
.app-section-row {
  padding: 10px 30px;
  background-color: #a8dcd1;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 19px;
}
.navbar-link {
  cursor: pointer;
  color: #6d545d !important;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    #f68375,
    #f68375 50%,
    #6d545d 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
  transition: 0.5s ease-out;
}
.navbar-link:hover,
.active {
  color: #f68375 !important;
  background-position: left;
}
.navbar-link:active {
  background-color: "#6d545d";
}

.progress-header {
  /* top: 0; */
  /* z-index: 1; */
  /* position: fixed; */
  width: 100%;
  background-color: #f1f1f1;
}
.progress-bar {
  height: 8px;
  background: linear-gradient(to right, #a8dcd1, #c7eb53);
  width: 0%;
}
@media (max-width: 435px) {
  .app-section-row {
    padding: 10px;
  }
}
/* @media (min-width: 1445px) {
  .navbar-link {
    font-size: 2vh;
  }
  .progress-bar {
    height: 2vh;
  }
} */
